@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Olá, visitante!</h1>
    <p style="font-size:20px; color:red">Vamos recomendar um filminho hoje?</p>

    <img src="https://i.gifer.com/K0tD.gif"  alt="gif" width=250/>

</div>

